@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700");

@media only screen and (min-width: 850px) {
  #web {
    display: inline;
  }
  #web #nextArrowsDivWeb .nextArrow {
    right: 20px;
    position: absolute;
  }

  #web #nextArrowsDivWeb .bubbles {
    -ms-flex-item-align: center;
    align-self: center;
    position: absolute;
    left: 47.5vw;
  }

  #mobile {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  #web {
    display: none;
  }
  #mobile {
    display: inline;
  }
  #app {
    overflow: hidden;
    overflow-x: hidden !important;
    font-family: "Helvetica";
    font-size: 16px;
    width: auto;
    max-width: auto;
    height: 100vh;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #content {
    /* background: #ffffff; */
    position: relative;
    overflow-x: hidden;
  }

  h1 {
    font-size: 48px;
    color: #f2f2f2;
    width: auto;
  }

  #nav {
    visibility: hidden;
  }

  #record {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    overflow-x: hidden;
  }

  .recPlay {
    animation: spin 3s infinite linear;
  }

  #record #outer {
    margin: 0 auto;
    width: 112vw;
    height: 112vw;
    border-radius: 50%;
    background: linear-gradient(180deg, #f733ee 0%, #0102ea 100%);
    box-shadow: 0px 5px 15px rgba(10, 4, 234, 0.33);
    position: absolute;
    top: -40vw;
    z-index: -1;
    overflow-x: hidden;
  }

  #record #middle {
    width: 70vw;
    height: 70vw;
    border-radius: 50%;
    background: linear-gradient(180deg, #f136ee 0%, #fb5154 100%);
    z-index: -1;
    top: -12.5vw;
    position: absolute;
    mix-blend-mode: overlay;
  }

  #record #center {
    width: 46vw;
    height: 46vw;
    border-radius: 50%;
    background: linear-gradient(180deg, #fade3e 0%, #ec4277 100%);
    position: absolute;
    mix-blend-mode: hard-light;
    z-index: -1;
    top: -1vw;
  }

  .logo {
    position: absolute;
    margin: 0;
    padding: 0;
    background: url(logo.svg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 36vh;
    width: 75vw;
    left: 31vw;
    top: 0vh;
  }

  .pin {
    position: absolute;
    margin: 0;
    padding: 0;
    background: url(recordPin.svg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 34vh;
    width: 75vw;
    left: 48vw;
    top: -3vh;
  }

  .logo #pin {
    position: absolute;
    top: -0.75vh;
    align-self: center;
    height: 23vh;
    width: 65vw;
    background-image: url(recordPin.svg);
    z-index: 2;
  }

  .logo h1 {
    position: absolute;
    top: 18vh;
    width: 100vw;
    z-index: 3;
    font-family: Helvetica;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -4px;
    font-size: 48px;
    color: #f2f2f2;
    text-align: center;
    align-content: center;
  }

  #content {
    position: absolute;
    top: 70vh;
    width: 100vw;
  }

  #recorder {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .recButton {
    position: relative;
    min-width: 52vw;
    font-family: Helvetica;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.75px;
    padding: 15px;
    color: #ffffff;
    background: linear-gradient(180deg, #f136ee 0%, #fb5154 100%);
    border: none;
    border-radius: 27.5px;
    margin-bottom: 32px;
  }

  .recButton:focus {
    outline: 0;
    mix-blend-mode: hard-light;
  }

  .carousel {
    width: 70vw;
    margin: auto auto;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  #carousel h3 {
    font-style: normal;
    font-family: "Work Sans";
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    color: #4f4f4f;
  }

  .carousel {
    font-style: normal;
    font-family: "Work Sans";
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    color: #4f4f4f;
  }

  #footer {
    bottom: 10vh;
    position: absolute;
    width: 100vw;
  }

  #timer {
    display: block;
    align-content: center;
    justify-content: center;
  }

  #arrow {
    width: 16px;
    height: 8px;
    margin: auto auto;
    align-content: center;
    justify-content: center;
    display: block;
  }
  #recording {
    width: 40vw;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
  }
  #recording img {
    margin-left: 8px;
    margin-right: 8px;
  }

  #pauseBT {
    width: 33px;
    height: 30px;
  }
  #recBT {
    width: 80px;
    height: 80px;
    margin-right: 0px;
  }

  #resBT {
    width: 33px;
    height: 30px;
  }

  #recText {
    margin: auto auto;
    margin-left: 35vw;
    align-content: center;
    justify-content: center;
    display: block;
    align-self: center;
  }

  #libray {
    margin: 35px 10vw 20px 10vw;
    width: 80vw;
    align-content: center;
    justify-content: center;
  }

  #libray h2 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    color: #000000;
  }

  #audio {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
  }

  .player {
    min-width: 37vw;
    height: 135px;
    max-width: 35vw;
    margin: auto;
    margin-bottom: 10px;
    flex: 1;
    align-content: flex-start;
    border-radius: 8px;
    outline: none;
    border: none;
  }

  .player:active {
    background-blend-mode: darken;
  }

  .player {
    justify-content: center;
  }

  .yellowPink {
    background: linear-gradient(180deg, #fade3e 0%, #ec4277 100%);
  }

  .pinkBlue {
    background: linear-gradient(180deg, #f733ee 0%, #0102ea 100%);
  }

  .pinkOrange {
    background: linear-gradient(180deg, #f136ee 0%, #fb5154 100%);
  }

  .limeGreen {
    background: linear-gradient(180deg, #e3f02d 0%, #66fc77 100%);
  }

  .player audio {
    visibility: hidden;
  }

  #timer {
    font-family: Helvetica;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.75px;
    color: #333333;
  }

  /*Upload*/
  #chimelogo {
    width: 59px;
    height: 18px;
    margin: auto auto;
    align-content: center;
    justify-content: center;
    display: block;
    background: url(logoB.svg);
    outline: none;
    margin-top: 15px;
  }

  #soundwaves {
    position: absolute;
    width: 205px;
    height: 80px;
    top: 170px;
    margin: auto auto;
    align-content: center;
    justify-content: center;
    display: block;
    background: url(soundwaves.svg);
    outline: none;
    padding: 10px;
  }

  #play {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  #playbutton {
    position: relative;
    justify-content: center;
    text-align: center;
    min-width: 35vw;
    height: 135px;
    max-width: 75vw;
    width: 256px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    flex: 1;
    align-content: flex-start;
    background: url(playbackButton.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    outline: none;
    border: none;
  }

  #playsymbol {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 190px;
    margin: auto auto;
    align-content: center;
    justify-content: center;
    display: block;
    background: url(playSymbol.svg);
    outline: none;
  }

  .goodjob {
    /* align-content: center;
    justify-content: center;
    margin-left: 14vw; */
    align-content: center;
    justify-content: center;
    margin: 33px 30px auto 30px;
    padding-bottom: 15px;
  }

  .goodjob h1 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 32px;
    text-align: center;
    letter-spacing: -0.25px;

    color: #333333;
    width: auto;
    margin-bottom: 20px;
  }

  .goodjob p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    color: #4f4f4f;
    width: auto;
  }

  .restartButton {
    position: relative;
    min-width: 52vw;
    font-family: "Helvetica";
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.75px;
    padding: 15px;
    color: #050505;
    background: #ffffff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 27.5px;
    margin-bottom: 32px;
    display: block;
  }

  #resButton {
    position: relative;
    min-width: 52vw;
    font-family: "Helvetica";
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.75px;
    padding: 15px;
    color: #ffffff;
    background: #bdbdbd;
    border-radius: 27.5px;
    margin-bottom: 32px;
    display: block;
    outline: none;
    border: none;
  }

  #confpeople {
    width: 300px;
    height: 200px;
    margin: auto auto;
    margin-top: 60px;
    align-content: center;
    justify-content: center;
    display: block;
    background: url(confhi5.svg);
    outline: none;
  }

  .thankyou {
    align-content: center;
    justify-content: center;
    margin: 33px 30px auto 30px;
    padding-bottom: 15px;
  }

  .thankyou h1 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 32px;
    text-align: center;
    letter-spacing: -0.25px;

    color: #333333;
    width: auto;
    margin-bottom: 20px;
  }

  .thankyou p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    color: #4f4f4f;
    width: auto;
  }

  .retryButton {
    position: relative;
    min-width: 52vw;
    font-family: "Helvetica";
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.75px;
    padding: 15px;
    color: #050505;
    background: #ffffff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 27.5px;
    margin-bottom: 32px;
    margin-top: 55px;
  }

  .retryButton:focus,
  .retryButton:hover,
  .retryButton:active,
  .retryButton::after {
    animation: toucheffect 0.3s fowards;
  }

  /*Onboarding - Alexia*/
  .header {
    width: 100vw;
    height: 25px;
    top: 0px;
    position: absolute;
    padding: 8px;
  }

  .logoH {
    align-self: center;
    display: flex;
    z-index: 1;
  }

  .logoH img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #skip {
    right: 20px;
    top: 7px;
    position: absolute;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
    text-align: right;
    color: #828282;
  }

  .image {
    margin-top: 8vh; /*12vh*/
    width: 100vw;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 45vw;
    max-width: auto;
  }

  .welcome {
    /* position: absolute; */
    align-content: center;
    justify-content: center;
    margin: 33px 30px auto 30px;
    padding-bottom: 15px;
  }

  .welcome h1 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.25px;

    color: #333333;
    width: auto;
  }

  .welcome p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    color: #4f4f4f;
    width: auto;
  }
  #nextBtnDiv {
    width: 100vw;
    position: fixed;
    bottom: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 13vh;
  }

  #nextArrowsDiv {
    width: 100vw;
    position: fixed;
    bottom: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 8vh;
  }

  .bubbles {
    align-self: center;
    position: absolute;
    left: 42vw;
  }

  .nextArrow {
    right: 20px;
    position: absolute;
  }

  .begin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 33px;
  }

  /*Menu*/
  .popout {
    z-index: 5;
    position: fixed;
    background: #030303;
    box-shadow: 6px 0px 10px rgba(51, 51, 51, 0.3);
    width: 60vw;
    height: 100vh;
    margin: none;
    top: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 1;
    display: none;
  }

  .menu {
    z-index: 2;
  }

  #overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    background: #030303;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    display: none;
  }

  .hamburger {
    position: fixed;
    float: right;
    top: 12px;
    left: 15px;
    z-index: 2;
  }

  #logoC {
    bottom: 30px;
    left: 15px;
    position: absolute;
  }

  #exit {
    top: 15px;
    left: 15px;
    position: absolute;
  }

  .popout ul {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    font-size: 24px;

    color: #f2f2f2;
    top: 12vh;
    position: absolute;
  }

  .popout a {
    color: #f2f2f2;
    text-decoration: none;
  }

  .popout a:hover {
    color: #f2f2f2;
    text-decoration: none;
  }

  .popout a:visited {
    color: #f2f2f2;
    text-decoration: none;
  }

  .popout li {
    list-style-type: none;
    padding-bottom: 30px;
  }

  button:active,
  button:focus,
  button--click,
  button--click::after,
  button::after {
    animation: toucheffect 0.3s fowards;
  }

  .resetSpin {
    animation: spin 0.5s ease-in;
  }

  /*animations*/
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      -moz-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
      -o-transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
    }

    100% {
      transform: rotate(360deg);
      -moz-transform: rotateZ(360deg);
      -webkit-transform: rotateZ(360deg);
      -o-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
    }
  }

  @keyframes toucheffect {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.3;
    }

    100% {
      opacity: 1;
    }
  }
  .pauseAnim {
    animation: fade 1.2s infinite;
  }
  .recPulse {
    border-radius: 50%;
    animation: pulse 1.5s infinite;
  }

  @keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 8;
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(247, 51, 238, 0.4);
      box-shadow: 0 0 0 0 rgba(247, 51, 238, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(247, 51, 238, 0);
      box-shadow: 0 0 0 10px rgba(247, 51, 238, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(247, 51, 238, 0);
      box-shadow: 0 0 0 0 rgba(247, 51, 238, 0);
    }
  }
}
