/* -- Web pages CSS -- */
.webPage {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
}

#webHeader {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 30px 0 0 0;
}

header img {
  width: 90px;
  height: 35px;
}

#webContent {
  display: block;
  align-content: center;
  justify-content: center;
  width: 50vw;
  margin: auto;
  /* padding-bottom: 10vh; */
}

#webContent #webImg1 {
  width: 30vw;
  height: auto;
  min-width: 346px;
  min-height: 155px;
  display: block;
  margin: 10vh auto 0 auto;
  max-width: 614px;
  max-height: 316px;
}

#webContent #webImg2 {
  width: 30vw;
  height: auto;
  min-width: 346px;
  min-height: 155px;
  display: block;
  margin: 10vh auto 0 auto;
  max-width: 450px;
  max-height: 326px;
}

#webContent #webImg3 {
  width: 15vw;
  height: auto;
  min-width: 346px;
  min-height: 155px;
  display: block;
  margin: 10vh auto 0 auto; /* 20 */
  max-width: 450px;
  max-height: 326px;
}

h1 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.25px;

  color: #000000;
  width: 45vw;
  text-align: center;
  margin: 35px auto 35px auto;
}

p#webDes {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  max-width: 45vw;
  text-align: center;
  margin: auto;
  color: #000000;
}

#webNav {
  width: 100vw;
  height: 90px;
  background: #080808;
  bottom: 0px;
  left: 0px;
  align-content: center;
  justify-content: center;
}

#webNav img {
  width: 40vw;
  height: auto;
  max-width: 414px;
  max-height: 40px;
  margin: 30px auto auto 30px;
  float: left;
}

nav {
  right: 0px;
  margin: 39px 22px 0 0;
  float: right;
}

nav a {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #f2f2f2 !important;
  padding: 20px;
}

nav a:hover {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#nextArrowsDivWeb {
  /* position: absolute; */
  /* bottom: 16vh; */
  width: 100vw;
  /* display: flex; */
  margin-bottom: 40px;
  margin-top: 15px;
}

/* @media only screen and (min-height: 720px) {
  #nextArrowsDivWeb {
    position: absolute;
    bottom: 12vh;
  }
  #webNav {
    position: fixed;
  }
} */

/* animation */

.fade {
  -webkit-animation: fadein 2s forwards;
  -moz-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 18px #fff, 0 0 17px #fff, 0 0 18px #fff, 0 0 19px #fff,
      0 0 20px #fff, 0 0 21px #fff, 0 0 22px #fff;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 17px #fff, 0 0 18px #fff, 0 0 19px #fff,
      0 0 20px #fff, 0 0 21px #fff, 0 0 22px #fff;
  }
}
